<launch>
  <!-- Start the simulation -->
	<include file="$(find rover_autonav)/launch/orientation.launch"/> 

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
  </node>

  <node pkg="rviz" type="rviz" name="rviz">
  </node>

 <node pkg="gmapping" name="slam_gmapping" type="slam_gmapping" output="screen">
          <param name="scan"        value="/scan"/>
          <param name="odom_frame"  value="odom"/>
          <param name="base_frame"  value="base_link"/>
  </node>
</launch>
