<?xml version="1.0"?>
<launch>

    <!-- roslaunch arguments -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find rover_autonav)/urdf/cali_fixed_to_ground.xacro'" />


    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>

    <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model rover_autonav -x $(arg x) -y $(arg y) -z $(arg z)" />


</launch>